{sys, [
       {lib_dirs, ["../deps", "../apps"]},
       {erts, [{mod_cond, derived}, {app_file, strip}]},
       {app_file, strip},
       {rel, "ezchat", "1",
        [
         kernel,
         stdlib,
         crypto,
         mnesia,
         rabbit_common,
         amqp_client,
         base64url,
         quoted,
         cowboy,
         cowlib,
         xmerl,
         sasl,
         asn1,
         ssl,
         public_key,
         ezchat
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib,
         crypto
        ]},
       {boot_rel, "ezchat"},
       {profile, embedded},
       {incl_cond, exclude},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/.*", "^erts.*/bin/(dialyzer|typer)",
                           "^erts.*/(doc|info|include|lib|man|src)"]},
       {excl_app_filters, ["\.gitignore"]},

       % ezchat
       {app, sasl,                        [{incl_cond, include}]},
       {app, stdlib,                      [{incl_cond, include}]},
       {app, kernel,                      [{incl_cond, include}]},
       {app, crypto,                      [{incl_cond, include}]},
       {app, rabbit_common,               [{incl_cond, include}]},
       {app, amqp_client,                 [{incl_cond, include}]},
       {app, ranch,                       [{incl_cond, include}]},
       {app, cowboy,                      [{incl_cond, include}]},
       {app, cowlib,                      [{incl_cond, include}]},
       {app, xmerl,                       [{incl_cond, include}]},
       {app, mnesia,                      [{incl_cond, include}]},
       {app, quoted,                      [{incl_cond, include}]},
       {app, base64url,                   [{incl_cond, include}]},
       %{app, mochiweb,                    [{incl_cond, include}]},
       {app, log4erl,                     [{incl_cond, include}]},
       {app, asn1,                        [{incl_cond, include}]},
       {app, ssl,                         [{incl_cond, include}]},
       {app, public_key,                  [{incl_cond, include}]},
       {app, ezchat,                      [{incl_cond, include}]}
      ]}.

{target_dir, "ezchat"}.

{overlay, [
       {mkdir, "log/sasl"},
       {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
       {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
       {copy, "files/ezchat", "bin/ezchat"},
       {copy, "files/ezchat.cmd", "bin/ezchat.cmd"},
       {copy, "files/start_erl.cmd", "bin/start_erl.cmd"},
       {copy, "files/install_upgrade.escript", "bin/install_upgrade.escript"},
       {copy, "files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
       {copy, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"},
       {copy, "priv/log4erl.conf", "priv/log4erl.conf"}
      ]}.